section div, header, section {
  border: 1px solid black;
}

* {
  text-align: center;
}

body {
  margin: auto;
  width: 480px;
}

header {
  height: 75px;
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 768px) {
  
body {
  width: 960px;
}

header {
  height: 100px;
}

}